.homePagebgImage{
    height: 100vh;
}
p{
    padding: 0;
    margin: 0;
}

.imageSlider{
    height: 110vh;
}

.imgDots{
    margin-top: 38vh;
}

.justify {
    text-align: justify;
    text-justify: inter-word;
}
.paragraph {
    text-align: center;
    max-width: 220px;
    word-wrap: break-word;
    word-break: break-all;
}

@media screen and (max-width:600px){
    .imgDots{
        margin-top: 27vh;
    }
    .homePagebgImage{
        height: 85vh;
    }
    .imageSlider{
        height: 100vh;
    }
}